<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Notification</title>
</head>
<body>
  <p>Dear <%= @employee.name %>,</p>
  <% if @amount == 50 %>
    <p>A payment of <%= @amount %> has been processed for the appointment on <%= @schedule.date.strftime('%d-%m-%Y') %> at <%= @schedule.start_time %> - <%= @schedule.end_time %> by <%= @client.name %>.</p>
  <% else %>
    <p>An appointment has been created successfully with <%= @client.name %> on <%= @schedule.date.strftime('%d-%m-%Y') %> at <%= @schedule.start_time %> - <%= @schedule.end_time %> at <%= @schedule.location.name %>.</p>
  <% end %>
  <p>Thank you!</p>
</body>
</html>