<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @schedule.client.name %>,

      This is a reminder that you have an appointment with <%= @schedule.employee.name %> on <%= @schedule.date.strftime('%d-%m-%Y') %> at <%= @schedule.start_time %> - <%= @schedule.end_time %> at <%= @schedule.location.name %>.
    </p>
  </body>
</html>
